.hero-body {
  width: 85%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  .title {
    font-size: 4em;
    background: rgb(20, 101, 192);
    background: linear-gradient(90deg, rgba(20, 101, 192, 1) 9%, rgba(132, 214, 251, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title {
    &.is-bold {
      font-weight: 700;
    }
  }

  .subtitle {
    &.is-muted {}
  }

  .hero-image {
    img {
      width: 300px;

    }
  }

}

.cari {
  padding-bottom: 30px;

  .DocSearch {
    background-color: var(--docsearch-container-background);
    height: 100vh;
    width: 100%;
    z-index: 200
  }

  .DocSearch-Button {
    align-items: center;
    background: var(--docsearch-searchbox-background);
    border: 0;
    border-radius: 40px;
    color: var(--docsearch-muted-color);
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: 36px;
    justify-content: space-between;
    margin: 0 0 0 0px;
    padding: 0 8px;
    user-select: none
  }
}


@media only screen and (max-width: 996px) {
  main {
    .hero-body {
      display: block;
      width: 90%;
    }
  }

}