.hero-body {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  .title {
    font-size: 4em;
    background: rgb(20, 101, 192);
    background: linear-gradient(90deg, rgba(20, 101, 192, 1) 9%, rgba(132, 214, 251, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title {
    &.is-bold {
      font-weight: 700;
    }
  }

  .subtitle {
    &.is-muted {}
  }

  .hero-image {
    img {
      width: 300px;

    }
  }

}

@media only screen and (max-width: 996px) {
  .hero-body {
    display: block;

  }
}