.navbar {
  .navbar__inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: none;
  }
}

@media only screen and (max-width: 996px) {
  .navbar {
    .navbar__inner {
      width: 100%;
    }
  }
}