$light-gray: #F5F6F7;
$gray: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);
$turquoise: blue;

.hero-roadmap {
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 2em;

  a.card {
    text-decoration: none;
  }

  a.card:hover {
    text-decoration: none;
  }
}

//Grid Container
.kartu-utama {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

//kartus
.kartu {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;

  //media queries for stacking kartus
  @media screen and (max-width: 991px) {
    width: calc((100% / 2) - 30px);
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &:hover {
    .kartu__inner {
      // background-color: $turquoise;
      transform: scale(1.05);
    }
  }

  &__inner {
    width: 100%;
    padding: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    // background-color: $light-gray;
    // color: black;
    font-size: 1.5em;
    text-align: center;

    transition: all 0.2s ease-in-out;

    &:after {
      transition: all 0.3s ease-in-out;
    }

    .fa {
      width: 100%;
      margin-top: .25em;
    }
  }

  //Expander
  &__expander {
    transition: all 0.2s ease-in-out;
    background-color: $slate;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: red;
    font-size: 1.5em;

    .fa {
      font-size: 0.75em;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &.is-collapsed {

    .kartu__inner {
      &:after {
        content: "";
        opacity: 0;
      }
    }

    .kartu__expander {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      margin-top: 0;
      opacity: 0;
    }
  }

  &.is-expanded {

    .kartu__inner {
      // background-color: $turquoise;

      &:after {
        content: "";
        opacity: 1;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 15px);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #333a45;
      }

      //folder open icon
      .fa:before {
        content: "\f115";
      }
    }

    .kartu__expander {
      max-height: 1000px;
      min-height: 200px;
      overflow: visible;
      margin-top: 30px;
      opacity: 1;
    }

    &:hover {
      .kartu__inner {
        transform: scale(1);
      }
    }
  }

  &.is-inactive {
    .kartu__inner {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      .kartu__inner {
        background-color: $gray;
        transform: scale(1);
      }
    }
  }
}


//Expander Widths

//when 3 kartus in a row
@media screen and (min-width: 992px) {

  .kartu:nth-of-type(3n+2) .kartu__expander {
    margin-left: calc(-100% - 30px);
  }

  .kartu:nth-of-type(3n+3) .kartu__expander {
    margin-left: calc(-200% - 60px);
  }

  .kartu:nth-of-type(3n+4) {
    clear: left;
  }

  .kartu__expander {
    width: calc(300% + 60px);
  }

}

//when 2 kartus in a row
@media screen and (min-width: 768px) and (max-width: 991px) {

  .kartu:nth-of-type(2n+2) .kartu__expander {
    margin-left: calc(-100% - 30px);
  }

  .kartu:nth-of-type(2n+3) {
    clear: left;
  }

  .kartu__expander {
    width: calc(200% + 30px);
  }

}